<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=titulo%></title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, consequatur, eum temporibus sequi amet adipisci doloremque nemo ex, consectetur delectus eligendi aut quod non nisi voluptatum sit dignissimos nihil sint!
        Architecto repellendus assumenda quisquam esse! Nam aspernatur vel nobis consequatur enim sed amet obcaecati corrupti ipsam sapiente maiores aliquid molestias nesciunt velit esse minima odio, nemo veritatis eligendi blanditiis totam!
        Esse eligendi doloribus dignissimos vel veritatis voluptate libero animi. Tempore ducimus sit perferendis minus nihil dolore ad magnam quasi illum aliquam! Harum praesentium aut officia dolore laudantium atque aspernatur perferendis!
    </p>
    <%-include('partials/footer.ejs')%>
</body>
</html>