<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section style="background-color: yellow;" id="sec">
    <center>
        <div class="contenido" style="height: 70%; width: 60%; border: 1px solid grey;">
            <form action="/recibo" method="post">
                <label for="numero">Número de Recibo: </label>
                <input type="number" name="numero" id="numero" required value="<%=numero%>"><br>
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" id="nombre" required value="<%=nombre%>"><br>
                <label for="domicilio">Domicilio</label>
                <input type="text" name="domicilio" id="domicilio" required value="<%=domicilio%>"><br>
                <label for="servicio">Tipo de Servicio</label>
                <select name="servicio" id="servicio" value="<%=servicio%>">
                    <option value="Domestico">Domestico</option>
                    <option value="Comercial">Comercial</option>
                    <option value="Industrial">Industrial</option>
                </select><br>
                <label for="kilow">Kilowatts Consumidos</label>
                <input type="number" name="kilow" id="kilow" required value="<%=kilow%>"><br>
                <button type="submit">Enviar Información</button>
                <button type="button" onclick="limpiar()">Limpiar</button>
            </form>
        </div>
    </center>

    <div class="container">
        <table class="table table-hover">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de Servicio</th>
                <th scope="col">Kilowatts Consumidos</th>
                <th scope="col">Costo por Kilowatts</th>
            </tr>


            <%
let costoW=0

if(servicio=="Domestico"){
    costoW = 1.08;
}else if(servicio=="Comercial"){
    costoW = 2.5;
}else{
    costoW = 3;
}
      
let desc=0;

if(kilow<=1000){
    desc=10;
}else if(kilow>1000 && kilow<=10000){
    desc=20;
}else{
    desc=50;
}


let subI=parseFloat((costoW*kilow).toFixed(2));
let imp=parseFloat((0.16*subI).toFixed(2));
desc=parseFloat((desc/100*subI).toFixed(2));
let sub=parseFloat((subI+imp).toFixed(2));
let tot=parseFloat((sub-desc).toFixed(2));

            %>  
                <tr>
                    <td><%=nombre%></td>
                    <td><%=servicio%></td>
                    <td><%=kilow%> KWs
                    <br>
                    Subtotal:
                    <br>
                    Impuesto:
                    <br>
                    Descuento:
                    <br>
                    <b>Total a Pagar:</b>
                    </td>
                    <td><%=costoW%>
                    <br>
                    <%=subI%>
                    <br>
                    <%=imp%>
                    <br>
                    <%=desc%> 
                    <br>
                   <b><%=tot%></b> 
                    </td>
                </tr>

        </table>

    </div>


</section>



<%-include('partials/footer.ejs')%>

<script>
    function limpiar() {
        document.getElementById("numero").value = "";
        document.getElementById("nombre").value = "";
        document.getElementById("domicilio").value = "";
        document.getElementById("kilow").value = "";
        document.getElementById("servicio").selectedIndex = 0;
        document.getElementsByClassName("container").innerHTML="";
    }
</script>

<style>    
    button {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        margin-right: 10px;
    }
    
    button:hover {
        background-color: #45a049;
    }
    
    input[type="number"],
    input[type="text"],
    select {
        width: calc(100% - 16px);
        padding: 8px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type="number"]:focus,
    input[type="text"]:focus,
    select:focus {
        border-color: #4CAF50;
        outline: none;
    }
    
    label {
        margin-top: 8px;
        display: inline-block;
    }
    
    </style>